<div class="background-image"></div>
<div class="content-error">
<div class="" style='font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 60px; text-align: center;'>
  <b>Opps</b>
</div>
  <p style="font-size: 40px;
    line-height: 100%;
    text-align: center;">
    This is not the web page you are looking for
    <br>
    <%= link_to 'Go Back Home', root_path, class: "btn btn-xl"%>
  </p>
</div>
