<div class="row">
  <%= form_for([@room, @room.reviews.build]) do |f| %>
    <div class="" style="text-align: center;">
      <b>Your reviews</b>
      <div id='star-rating'></div>
    </div>
    <br>
    <br>
    <div class="">
      <%= f.cktext_area :comment %>
    </div>
    <p>
      <%= f.hidden_field :user_id, value: current_user.id%>
      <%= f.submit %>
    </p>
  <% end %>

</div>
